@import "_variable";
.background-main-title {
  background-image: url("../../public/images/form-bg.jpg");
  background-size: cover;
  padding-bottom: 40px;
  .main-title {
    text-align: center;
    padding-top: 17px;
    line-height: 2.3;
    color: $white;
    &--header {
      position: relative;
      font-family: GothaPro;
      font-size: 40px;
      font-weight: 800;
      &::before {
        content: "";
        position: absolute;
        left: calc(50% - 49px);
        bottom: 0;
        margin: 0 auto;
        width: 96px;
        height: 5px;
        background-color: $title-line-color;
      }
    }
    &--subheader {
      margin: 20px auto 0 auto;
      max-width: 754px;
      line-height: 24px !important;
      letter-spacing: 0.3px;
      font-family: GothaProRegular;
      font-size: 16px;
    }
    &--form {
      margin-top: 40px;
    }
  }
}
