@import "_variable";

.form {
  text-align: center;
  max-width: 360px;
  border: 13px solid $border-form-color;
  background-color: #fff;
  font-family: GothaPro;
  &--container {
    margin: 29px 18px;
  }
  &--header {
    margin-bottom: 16px;
    .form-image {
      width: 56px;
    }
    .h2 {
      margin: 9px 0 6px 0;
    }
    .p {
      line-height: 1.4;
      font-size: 14px;
      font-weight: normal;
      span {
        text-transform: uppercase;
      }
    }
  }
  .form--timer {
    margin-top: 18px;
    .timer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 30px;
      div {
        span {
          font-weight: 600;
        }
        .p {
          margin-top: -2px;
          font-size: 13px;
          font-weight: 300;
          color: #666;
        }
      }
      #delimiter {
        margin: 0 12px;
      }
    }
  }
}
