@import "_variable";

.input {
  width: 255px;
  margin-bottom: 12px;
  padding: 0 12px;
  border: 1px solid $border-input;
  border-radius: 4px;
  line-height: 37px;
  outline: none;
  font-family: GothaProRegular;
  font-weight: 400;
  font-size: 14px;
  color: $input-color;
}
.input-transparent {
  margin: 0 12px;
  background-color: $title-input-background-color;
  border: 1px solid $white;
  color: $white;
  &::-moz-placeholder {
    color: $white;
  }
  &::-webkit-input-placeholder{
  color: $white;
  }
}
.button {
  width: 255px;
  padding: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 -3px $button-box-shadow inset;
  outline: none;
  cursor: pointer;
  font-family: GothaProRegular;
  font-weight: 700;
  font-size: 12px;
  background: linear-gradient(to bottom, rgba(95, 201, 84, 0) 0%, rgba(94, 200, 83, 0) 2%, rgba(94, 199, 83, 0.3) 4%, rgba(94, 199, 83, 0.75) 5%, rgba(93, 198, 82, 0.95) 7%, #5cc551 9%, #59c24e 22%, #44ae39 67%, #3ca631 91%, rgba(59, 165, 48, 0.95) 93%, rgba(58, 164, 47, 0.75) 95%, rgba(58, 164, 47, 0.3) 96%, rgba(58, 164, 47, 0) 98%, rgba(57, 163, 46, 0) 100%);
  color: $white;
  &:hover {
    background: linear-gradient(to bottom, rgba(53, 197, 38, 0) 0%, rgba(52, 196, 37, 0) 2%, rgba(51, 195, 36, 0.3) 4%, rgba(51, 195, 36, 0.75) 5%, rgba(50, 194, 35, 0.95) 7%, #32c223 9%, #2dbd1e 27%, #16a607 78%, #12a203 91%, rgba(18, 161, 2, 0.95) 93%, rgba(17, 160, 1, 0.75) 95%, rgba(17, 160, 1, 0.3) 96%, rgba(17, 160, 1, 0) 98%, rgba(16, 159, 0, 0) 100%);
  }
  &:active {
    background: linear-gradient(to bottom, rgba(57, 163, 46, 0) 0%, rgba(58, 164, 47, 0) 2%, rgba(59, 165, 48, 0.3) 4%, rgba(59, 165, 48, 0.75) 5%, rgba(59, 165, 48, 0.95) 7%, #3ca631 9%, #3fa934 22%, #58c24d 78%, #5cc651 91%, rgba(93, 198, 82, 0.95) 93%, rgba(94, 199, 83, 0.75) 95%, rgba(94, 199, 83, 0.3) 96%, rgba(95, 200, 84, 0) 98%, rgba(95, 200, 84, 0) 100%);
  }
}
.button-title {
  margin: 27px auto 0 auto;
  width: 160px;
}
